<p>The Contemporary Narratives Lab creates new approaches to storytelling by bringing together <b>artists</b>, <b>journalists</b> and <b>researchers</b>.</p>
<p>Throughout history, stories have been one of the most powerful ways of formulating and disseminating knowledge. They can shape whole societies. They can bring diverse communities together, or divide people into opposing tribes.</p>
<p>We believe that artists and journalists can learn from each others' practices to invent new ways of telling stories that support healthier societies.</p> 
